body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b1220;
  color: white;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  opacity: 0.7;
  margin-bottom: 20px;
}

.card {
  background: #111827;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 8px 0;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

#generateBtn {
  background: #22c55e;
  color: black;
}

.actions {
  display: flex;
  gap: 10px;
}

.actions button {
  flex: 1;
  background: #1f2937;
  color: white;
}

/* CARDS */
.doa-card {
  background: #111827;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 12px;
  border: 1px solid #1f2937;
  transition: 0.2s;
}

.doa-card:hover {
  border: 1px solid #22c55e;
  transform: translateY(-2px);
}

.section-title {
  font-weight: bold;
  color: #22c55e;
  margin-bottom: 8px;
}

/* ARABE */
.arabic {
  font-size: 22px;
  text-align: right;
  direction: rtl;
  color: #f8fafc;
}

/* SALAWAT PREMIUM */
.salawat {
  font-size: 20px;
  text-align: center;
  direction: rtl;
  padding: 15px;
  background: linear-gradient(135deg, #1f2937, #0b1220);
  border: 1px solid #22c55e;
  border-radius: 12px;
  color: #22c55e;
  font-weight: bold;
}
